.DS_Store
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
dist/
target/
python/unix_sandbox/assets/*.webc
python/unix_sandbox/assets/*.sha256
*.egg-info/
__pycache__/
*.py[cod]
*.so
*.dylib
